<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Acerca de Empleos App</title>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="bootstrap/css/jumbotron.css" rel="stylesheet">
    <link href="bootstrap/css/sticky-footer-navbar.css" rel="stylesheet">
</head>

<body>

    <main role="main">
        <hr>
        <div class="container">



            <h2 class="page-title">Quiénes somos</h2>

            <img class="mb-3 mx-auto d-block " src="/images/fondo.jpg" alt="No existe la imagen" height=50% width=100%>


            <p>
                <strong>En EmpleosApp</strong>,  estamos a la vanguardia en lo que se refiere al lugar de trabajo, animando a particulares y empresas a encontrar expertos online y a
                colaborar en proyectos. Muchos expertos utilizan la plataforma para encontrar proyectos, generándose  proyectos desde nuestro inicio.
            </p>

            <h4><strong>¿Buscas expertos?</strong></h4>
            <p>
                Cualquier persona puede publicar un proyecto en twago: desde particulares a grandes empresas. Si necesitas desarrollar una aplicación, traducir un documento técnico, o completar un diseño web puedes encontrar lo mejores expertos en twago.
                Todo lo que tienes que hacer es publicar tu proyecto para recibir ofertas de colaboradores ubicados en cualquier parte mundo, escoger la mejor opción para tí y pagar cuando el trabajo esté terminado. ¿Quieres saber más sobre cómo publicar
                de un proyecto en EmpleosApp?
            </p>
            <h4><strong>¿Buscas proyectos?</strong></h4>
            <p>
                Como colaborador  puedes trabajar en los proyectos que desees cuando lo desees. Autónomos y agencias utilizan twago
                para encontrar proyectos y trabajar desde cualquier lugar del mundo. El primer paso para conseguir un proyecto es crear tu perfil en twago, para después poder publicar tu oferta en interesantes proyectos, ganar clientes, desarrollar un buen trabajo y,
                finalmente, cobrar por ello. Tanto si estás buscando trabajo a tiempo completo, como si simplemente quieres aumentar un poco tus ahorros, EmpleosApp es el lugar adecuado para que encuentres el trabajo que desees.<br>




                <div id="socialicons-widget-2" class="widget socialicons"></div>
                <div class="widget-wrap">
                    <h3 class="widgettitle"><span>Síguenos en:</span></h3><div class="textwidget"></div>


                    <a title="Conecta con twago en Facebook" rel="external" href="http://www.facebook.com/jhordanBriceno" target="_blank"><img class="facebook-sub" src="https://www.twago.es/blog/wp-content/themes/wp-radiance/wp-radiance103/images/facebook.png" alt="Conecta con twago en Facebook" align="top"></a>


                    <a rel="external" title="Sigue a twago en Twitter" href="http://www.twitter.com/jhordanBriceno" target="_blank"><img class="twitter-sub" src="https://www.twago.es/blog/wp-content/themes/wp-radiance/wp-radiance103/images/twitter.png" alt="Sigue a twago en Twitter" align="top"></a>

                </div>

    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
