html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.jumbotron {
    background-position: 50%;
    background-size: cover;
    display: table;
    height: 50%;
    width: 100%;
    background-image: url("/images/fondo.jpg");
}


body::-webkit-scrollbar-thumb {
    background-color: var(--mainColor);
    outline: 1px solid var(--mainColor);
}

hr {
    border: 2px solid var(--mainColor);
    background-color: var(--mainColor);
    width: 140px;
    border-radius: 1px;
}

.main-color {
    color: var(--mainColor);
}

.title-card {
    color: #1b1b1b;
}
